/* General styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: transparent;
  color: #333;
  overflow-x: hidden;
  position: relative;
}

/* Header styles */
#header {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 98%;
  position: fixed;
  z-index: 1000;
}

.logo {
  margin-left: 45%;
  align-items: center;
  justify-content: center;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: #333;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 10px;
  margin-left: 50px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #007bff;
}

/* Video background */
video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  opacity: 0.3;
}

/* Content styles */
.content {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.text-section {
  text-align: center;
  width: 70%;
  font-weight: 700;
}

.sub-heading {
  font-weight: bold;
  font-size: 5.0rem;
  background: linear-gradient(135deg, #4ac6ff, #ff6a5b);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  margin-top: -20%;
}

.paragraph {
  padding: 25px;
  font-size: 2.0rem;
  margin-top: -30px;
}

.start-button {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 2rem var(--main-color);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.5s ease;
  margin-top: 10px;
}

.start-button:hover {
  box-shadow: none;
  color: white;
  background-color: black;
}
